*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: cadetblue;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 30px;
    width: 500px;
    background-color: indianred;
    border-radius: 15px;
    flex-direction: column;
}
.quiz{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
/* button{
    text-align: left;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
} */
.btn{
    text-align: left;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-weight: 500;
}
h1{
    margin-bottom: 20px;
}
#next-btn{
    margin-top: 30px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    display: none;
}
#next-btn:hover{
    background-color: black;
    color: #ffff;
}
#options{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.correct{
    background-color: green;
    color: #ffff;
}
.incorrect{
    background-color: red;
    color: #ffff;
}
.hide{
    display: none;
}